{% extends 'base.html.twig' %}

{% block title %}Utilisateur- Vos infos
{% endblock %}

{% block body %}


	<div class="col-6 p-5">
		<h2>Création d'un nouvel emploi</h2>
        <p>Merci de remplir le formulaire</p>	

        {{ form_start(form)}}
		{{ form_end(form)}}

    </div>

{% endblock %}
