{% extends 'baseAdmin.html.twig' %}

{% block title %}Mes infos{% endblock %}

{% block body %}

	{{ parent() }}
 
	<div class="col-10 p-5 mt-3">
		<h2>Vos infos</h2>

		
      
	</div>
	


	

{% endblock %}
