{% extends 'base.html.twig' %}

{% block title %} Qui?{% endblock %}

{% block body %}
<!-- navBar -->
  
{{ include ('nav.html.twig') }}

<div>
	<div class="col-12 text-center m-0 p-0 " style=" background-color: #39485E">
		<h1 class="text-white">Qui nous sommes?</h1>
	</div>

	<div class="container mt-5 ";>
        <div id="about_card" class="card card bg-light" style="max-width: 1200px;";>
          <div class="row ">
            <div class="col-md-5">
                <div class="about_image">  
					<img src="{{ asset('./image/about-us.jpg') }}" alt="photo" width="105%" > 
				</div>         
            </div> 
				
            <div class="col-md-7 px-3 ">
              <div class="card-block px-6">
			  		<h4 class="text-right mt-5 ">Qui nous sommes?</h4>
                	<p class="card-text text-justify mt-5 mb-5">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
					standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
					It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was 
					popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
					software like Aldus PageMaker including versions of Lorem Ipsum.
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
					standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
					It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was 
					popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
					software like Aldus PageMaker including versions of Lorem Ipsum.
                	</p>
              </div>
            </div>
            
          </div>
        </div>
    </div>

</div>
{% endblock %}
