{% extends 'baseAdmin.html.twig' %}

{% block title %}Accueil Administrateur{% endblock %}

{% block body %}
	{{ parent() }}

<div class="col-8 p-5 text-center">
		<h2>Bienvenue sur votre espace Administrateur</h2>
</div>

{% endblock %}
