{% extends 'baseAdmin.html.twig' %}

{% block title %}Accueil Administrateur{% endblock %}

{% block body %}
	{{ parent() }}

<div class="col-8  text-center">
		<h2>Bienvenue sur votre espace Administrateur</h2>
		<h3>Bonjour <b>{{ app.user.name }}</b></h3>

</div>
</div>

{% endblock %}
