{% extends 'baseAdmin.html.twig' %}

{% block title %}Administrateur- Création Formulaire Jobs
{% endblock %}

{% block body %}

    	{{ parent() }}

	<div class="col-6 p-5">
		<h2>Création d'un nouvel emploi</h2>
        <p>Merci de remplir le formulaire</p>	

        {{ form_start(formulaireJobs)}}
		{{ form_end(formulaireJobs)}}

    </div>

{% endblock %}
