
footer{
background-color: #39485E;
color: white;
margin-top: 150px;
}

footer a{
text-decoration: none;
color: white;
}
footer a:hover{
color: #FFE815;
text-decoration: none;
}

#companyinfo {
top: 30px
}
  