*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1, p{
    color: #3E3D3D;
}


/* **************************************** HOME - Section Rechercher **************************************** */
#bkg_title{
    margin-top: 50px;
    color: white;
    background-color: #39485E;
}
#search_button{
    background-color: #E8D525;
    border: 0;
    padding: 10px 15px;
    border-radius: 3px;
    width: 100px;
    cursor: pointer;
    font-size: 18px;   
}
#search_button:hover{
    background-color: rgb(255, 231, 22, 0.5);
}

#button_outset{
    background-color:white;
    border: 2px solid;
    box-shadow: -7px 7px  #E8D525;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
}
#button_outset:hover{
    background-color:#3E3D3D;
    color:white;

}
/* **************************************** BASE - Navbar **************************************** */

nav{
    width: 100%;
    margin: 0 auto;
    /* background-color: white; */
    position: sticky;
    margin-top: 120px;
}
.conteneur-nav{
    position: absolute;
    width: 80%;
    margin: auto;
}
nav input[type=checkbox]{
    display: none;
}
nav label{
    display: inline-block;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    /* background-color: red; */
}
nav ul{
    display: none;
    list-style-type: none;
    /* background-color: #555; */
    font-size: 25px;
}
nav input[type=checkbox]:checked + ul{
    display: flex;
    flex-flow : column wrap;
}
nav ul li{
    flex: 1 1 auto;
    text-align: center;
}
/* nav > div > ul > li > a{
    color: white;
} */
nav a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 0px;
}

.sous{
    display: flex;
    flex-flow: column wrap;
    z-index: 1000;
}

.sous li{
    flex: 1 1 auto;
    text-align: left;
}
.sous a{
    padding: 10px;
    /* background-color: pink; */
}

@media screen and (min-width: 980px){
    .conteneur-nav{
        position: static;
    }
    nav label, nav input{
        display: none;
    }
    nav input[type=checkbox]:checked + ul, nav ul{
        display: flex;
        flex-flow: row wrap;
        background-color: white;
    }
    nav ul li{
        position: relative;
    }
    nav > div > ul > li > a{
        color: black;
    }
    nav a{
        border-bottom: 2px solid transparent;
    }
    nav a:hover{
        color: #E8D525;
        border-bottom: 2px solid yellow;
    }

    .sous{
        display: none;
        box-shadow: 0px 1px 2px #CCC;
        background-color: white;
        position: absolute;
        width: 100%;
    }
    nav > div > ul li:hover .sous{
        display: flex;
        flex-flow: column wrap;
    }
    .sous a{
        border-bottom: none;
        background-color: white;
    }
    .sous a:hover{
        border-bottom: none;
        background-color: white;
    }
    .deroulant > a::after{
        content:" ▼";
        font-size: 12px;
    }
}

.conteneur-contenu{
  margin: 50px 20px;
  height: 1500px;
}

[data-sr] {
    visibility:hidden;
} 

/* **************************************** HOME - animation **************************************** */


.animation {
    background-image:url(./../image/ground.jpg); 
    width:100%;
    height: 500px;
    margin-top: 100px;
    background-size:cover;
    background-position:center top; 
    color:#fff; 
    padding-top:100px; 
    --animate-duration: 2s;
}
/* **************************************** ESPACE ADMIN **************************************** */

#animation_admin {
    background-image:url(./../image/ground.jpg); 
    width:100%;
    height: 400px;
    background-size:cover;
    background-position:center top; 
    color:#fff; 
    padding-top:100px; 
}
#footer-admnin{
    margin: 150px;
    width: 100%;
}



/* **************************************** BASE - FOOTER **************************************** */
footer{
    background-color: #39485E;
}
footer p{
    color: white;
}
footer a{
    text-decoration: none;
}
#btn_news{
    background-color:#FFE815;
}

/* **************************************** JOB **************************************** */

