{% extends 'baseAdmin.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
	{{ parent() }}

<div class="col-12  text-center">
		<h2>Bienvenue sur votre espace </h2>
		<h3>Bonjour <b>{{ app.user.name }}</b></h3>

               
</div>
</div>


</div>
{% endblock %}
