{% extends 'baseAdmin.html.twig' %}

{% block title %}Accueil Administrateur{% endblock %}

{% block body %}
	{{ parent() }}

<div class="col-8 text-center mt-5">
		<h2>Pas encore de favoris</h2>
        <a class=""><img src="{{ asset('image/favoris.svg') }}" alt="logo heart"></a>

</div> 

{% endblock %}
