{% extends "basePure.html.twig" %}

{% block title %}Erreur-400
{% endblock %}

{% block body %}
<div class="container">

	<div class=" mx-auto mt-3">
		<div class="col-12 text-center">
			<h1>Une erreur s'est produite</h1>
		</div>
		<div class="col-12 text-center mt-2">
			<img class="" src="{{ asset('./image/erreur400.svg') }}" alt="logo">
		
		</div>	
			<p class="col-md-12  mt-4 text-center mx-auto">Une erreur est survenue lors du chargement de la page. Si le problème persiste, merci de contacter
                l'administrateur du site</p>          
	  </div>
    <div class="col-md-12 "><a href="{{path('home')}}"> <p class="h3 text-center mt-2"><b>Retour au site</b></p></a></div>


</div>
</div>




{% endblock %}
