{% extends "basePure.html.twig" %}

{% block title %}Erreur-404
{% endblock %}

{% block body %}
<div class="container">

	<div class=" mx-auto mt-3">
		<div class="col-12 text-center">
			<h1>Une erreur s'est produite</h1>
		</div>
		<div class="col-12 text-center mt-2">
			<img class="" src="{{ asset('./image/erreur404.svg') }}" alt="logo">
		</div>	
	</div>

	<div class=" mx-auto mt-5">
		<div class="col-12 text-center">
			<h2>Erreur 404</h2>
			<p>Une erreur est survenue lors du chargement de la page. Si le problème persiste, merci de contacter
                l'administrateur du site</p>
            <a href="{{path('home')}}"><b><p class="h5">Retour au site</p></b></a>
	</div>

</div>
</div>




{% endblock %}
