{% extends 'base.html.twig' %}

{% block title %} Articles{% endblock %}

{% block body %}

               
<!-- navBar -->
  
    {{ include ('nav.html.twig') }}

	<div class="col-12 text-center m-0 p-0 " style=" background-color: #39485E">
		<h1 class="text-white">Article</h1>
	</div>
	
	<div class="container";>
        <div id="about_card" class="card card  p-4" style="max-width: 1000px">
			<a href="javascript:history.go(-1)" class="h2 m-1" id="arrow_left"></a>

      <div class="container">

        <article class="row single-post  no-gutters">   
            <div class="col-md-12">
              <div class="image-wrapper float-left pr-3">         					
                  <img src="{{ asset('image/articles/' ~ articles.uploads) }}" alt="photo"  > 
              </div>
              <div class="single-post-content-wrapper  ">
			  		    <h1 >{{ articles.title }}</h1>
                <p>{{ articles.description }}</p>
              </div>
            </div>
            
        </article>
</div>



</div> 
</div> 



{% endblock %}
