{% extends 'base.html.twig' %}

{% block title %} Articles{% endblock %}

{% block body %}

               
<!-- navBar -->
  
    {{ include ('nav.html.twig') }}

	<div class="col-12 text-center m-0 p-0 " style=" background-color: #39485E">
		<h1 class="text-white">Article</h1>
	</div>
	

	
	<div class="container";>
        <div id="about_card" class="card card  p-4" style="max-width: 1000px">
			<a href="javascript:history.go(-1)" class="h2 m-1" id="arrow_left"></a>

          <div class="row ">

			<div class="col-md-6 col-sm-10 ml-3 mt-2  ">
                <div class="">  
					<img src="{{ asset('image/articles/' ~ articles.uploads) }}" alt="photo" width="100%" class="ml-4" > 
				</div>         
            </div> 
				
            <div class="col-md-5 mb-3 ml-4 mr-4">
              <div class="card-block" id="text_article">
			  		<h4 class="h1 mt-5 col-sm-12  ">{{ articles.title }}</h4>
                	<p class="card-text text-justify p-2  mr-3 col-sm-12" >
						{{ articles.description }}
                	</p>
              </div>
            </div>
            
          </div>
        </div>
    </div>



</div> 
</div> 



{% endblock %}
